body {
  background-color: #2f3136;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
}

.todo-app {
  font-family: Arial, sans-serif;
  padding: 20px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 1px;
  margin-bottom: 100px;
}

span {
  color: #e6e203;
}

.site:hover h1 {
  color: #e6e203;
  cursor: pointer;
}
.site:hover span {
  color: #f4f4f4;
}

form {
  display: grid;
  place-items: center;
}

#new-task {
  padding: 10px;
  font-size: 16px;
  width: 70%;
  margin-bottom: 10px;
  border: none;
  border-radius: 1rem;
}
#new-task:focus {
  border: none;
}
.textAdd {
  width: 92%;
  margin: auto;
}
.delete-btn {
  border: none;
  border-radius: 10px;
  background: none;
}
.delete-btn:hover {
  transform: scale(1.2);
}
.delete-btn:active {
  transform: scale(0.8);
}
#add-task {
  border: none;
  outline: none;
  background-color: #6c5ce7;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #a29bfe;
}

#add-task:hover {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #a29bfe;
}

#tasks {
  list-style: none;
  padding: 0;
  margin: 0;
}

#tasks li {
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 3px;
  border-radius: 5px;
}
.todo-app {
  background-color: #9932cc;
  font-family: Arial, sans-serif;
  padding: 20px;
  margin-bottom: 3px;
}

h1,
a {
  color: #f4f4f4;
  text-decoration: none;
}

.todo-app #new-task,
#tasks li {
  color: #9932cc;
}

#tasks li {
  display: flex;
  align-items: center;
  font-size: large;
  text-transform: capitalize;
  word-wrap: break-word;
  width: 80%;
  margin: auto;
  margin-bottom: 5px;
}

#tasks li input[type="checkbox"] {
  margin-right: 10px;
}

#tasks li button {
  margin-left: auto;
}
.alert {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 20px;
  padding-right: 20px;
  background-color: #7289da;
  color: #f4f4f4;
  text-align: center;
  border-radius: 5px;
  opacity: 0;
  transition: 0.6s ease-in-out;
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.alert button {
  background-color: inherit;
  border: none;
  color: #f4f4f4;
  margin-left: 5px;
}
.alert button:hover {
  color: #9932cc;
}
.alert.show {
  opacity: 1;
}

h2:hover {
  color: #e6e203;
}
h2 {
  text-decoration: underline;
  color: #f4f4f4;
  cursor: pointer;
}
button,
.complete-checkbox {
  cursor: pointer;
}
